body {
	color: #333;
	padding: 0 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 76%;
}

.panel {
	clear: both;
	display: none;
	border: 3px solid #CCC;
	padding: 1em;
}
.panel.active-tab-body {
	display: block;
}
#tabs {
	list-style: none;
}

#tabs li {
	float: left;
}

#tabs a {
	float: left;
	padding: 5px 8px;
	margin-left: 6px;
	background-color: #F2F2F2;
	text-decoration: none;
	color: #999999;
}

#tabs a.active-tab {
	background-color: #CCC;
	border-top: 3px solid #999;
	padding-top: 3px;
	color: #000;
}
input.disabled {
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
}

input.required, textarea.required {
	border: 1px solid #00A8E6;
}
input.validation-failed, textarea.validation-failed {
	border: 1px solid #FF3300;
	color : #FF3300;
}
input.validation-passed, textarea.validation-passed {
	border: 1px solid #00CC00;
	color : #000;
}

.validation-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #FF3300;
	color : #FFF;
	font-weight: bold;
}

.custom-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #C8AA00;
	color : #FFF;
	font-weight: bold;
}

fieldset {
	padding: 1em;
	margin-bottom: 0.5em;
}

label {
	font-weight: bold;
}
.form-row {
	clear: both;
	padding: 0.5em;
}

.field-label {

}

.field-widget {

}

#loading {
	position: absolute;
	top: 5px;
	/*padding-top: 10px;*/
	right: 15px;
}


/* TABLA*/

/* 
	Blue on blue
	written by Glenn Slaven http://slaven.net.au
*/
table,td,th {
	border-collapse:collapse;
	margin:0;
	padding:0;

}
table {
	border: none;
	font-family: Garamond, Georgia, "Times New Roman", Times, serif;
}

table caption {
	background-color: transparent;
	background-image: url(cap_bg.gif);
	background-repeat: repeat-x;
	background-position: bottom left;
	text-align:left;
	font-size:150%;
	text-transform:uppercase;
	line-height: 30px;
	letter-spacing:0px;	
}

td, th{	
	vertical-align:top;
	font-weight:normal;	
}

thead {
	border-left:1px solid #2293FF;	
}

thead th {
	background: #2293FF;
	color: #FFFFFF;
	font-size: 125%;
	border-top:1px solid #2293FF;
	border-right:1px solid #2293FF;
	padding: 4px 0.4em 4px 0.4em;	
}

tfoot td, tfoot th {
	border-top:1px solid #2293FF;
	border-right: none;
	font-weight: bolder;
	font-size: 110%;
	padding: 0.4em 0.5em 0.4em 0.5em;
}

tbody td, tbody th {
	background-color: #D9ECFF;
	border-right:1px solid #2293FF;
	font-size: 110%;
	padding: 0.4em 0.5em 0.4em 0.5em;
}

tbody tr.odd th, tbody tr.odd td{
	background-color: #BDDFFF;
}

tbody th{	
	font-weight: bold;	
	border-left:1px solid #2293FF
}

table a:link, table a:visited, table a:active {	
	color:#444F66;
	background-color: transparent;
	text-decoration: underline;
}

table a:hover {
	text-decoration:none;
	background-color: #1E90FF;
	color: #FFFFFF;
}